* {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Lato", sans-serif;
  background-color: 	#dfe3ee;
}

.links {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0em 1em 0em;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidenav p {
  text-align: center;
  font-weight: bold;
  height:10px;
  padding: 6px 8px 5x 16px;
  text-decoration: none;
  font-size: 20px;
  color: #0F9D58;
  display: block;
}

.sidenav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 25px;
  height: 15%;
  width: 60%;
  border-radius: 50%;
} 
.sidenav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #0F9D58;
}

.header {
  text-align: center;
  margin-top: 0px;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px 10px;
}

.createSurvey {
  text-align: center;
  margin-top: 0px;
  margin-left: 220px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px 10px;
}
.surveyResults {
  background-color: #0F9D58;
  color: white;
  padding: 20px;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-radius:10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}